<script type="text/template" id="productoList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>Imagen</th>
                 <th>tipo</th>
		 <th>minimaCantidad</th>
		 <th>name</th>
		 <th>maximaCantidad</th>
                 <th>Cantidad Disponible </th>
                 
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(productos, function(producto) { %>
    <tr>
                <td><img src="<%=htmlEncode(producto.getDisplay('imagen'))%>" width="70"> </td>
		<td><%= htmlEncode(producto.getDisplay('tipo')) %></td>
		<td><%= htmlEncode(producto.getDisplay('minimaCantidad')) %></td>
		<td><%= htmlEncode(producto.getDisplay('name')) %></td>
		<td><%= htmlEncode(producto.getDisplay('maximaCantidad')) %></td>
                <td><%= producto.get('cantidadDisponible') %>  </td>
                 <%var valor = "Borrar-"+producto.getDisplay('id');%>
            <td> <input type="text" class="form-control" id="<%=valor%>" name="<%=valor%>" placeholder="Cant. a borrar"/>	
            <button onclick="myFunction(&quot;<%=valor%>&quot;,<%=producto.getDisplay('id')%>,<%= componentId %>)"><img height=24 width=24 src="http://pixabay.com/static/uploads/photo/2013/07/12/12/40/abort-146072_640.png?i"></button>
     
            </td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-producto-edit',{id:<%= producto.id %>}); return false" >Edit</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-producto-delete',{id:<%= producto.id %>}); return false" >Delete</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>
<script>
       function myFunction(place,id,componentId)
        {
            Backbone.trigger(componentId+"-producto-borrar",{"id":id,"cantidad":document.getElementById(place).value});
        }
</script>
<script type="text/template" id="producto">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-productoForm">
    <% if(producto.id) {%>
    <input type="hidden" name="id" value="<%= producto.id %>"/>
    <% }%>
                <div class="form-group" >
		<label for="imagen">URL De la imagen</label>
    	<input type="text" class="form-control" id="imagen" name="imagen" placeholder="Enter value" value="<%= producto.get('imagen') %>"/>	
		</div>
		<div class="form-group" >
		<label for="tipo">tipo</label>
    	<input type="text" class="form-control" id="tipo" name="tipo" placeholder="Enter value" value="<%= producto.get('tipo') %>"/>	
		</div>
		<div class="form-group" >
		<label for="minimaCantidad">minimaCantidad</label>
    	<input type="text" class="form-control" id="minimaCantidad" name="minimaCantidad" placeholder="Enter value" value="<%= producto.get('minimaCantidad') %>"/>	
		</div>
		<div class="form-group" >
		<label for="name">name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= producto.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="maximaCantidad">maximaCantidad</label>
    	<input type="text" class="form-control" id="maximaCantidad" name="maximaCantidad" placeholder="Enter value" value="<%= producto.get('maximaCantidad') %>"/>	
		</div>
    </form>
    </div>
</script> 