<script type="text/template" id="documentoList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>name</th>
		 <th>tipo</th>
		 <th>descripcion</th>
                 <th>estado</th>
		 <th>autor</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(documentos, function(documento) { %>
    <tr>
		<td><%= htmlEncode(documento.getDisplay('name')) %></td>
		<td><%= htmlEncode(documento.getDisplay('tipo')) %></td>
		<td><%= htmlEncode(documento.getDisplay('descripcion')) %></td>
                <td><%= htmlEncode(documento.getDisplay('estado')) %></td>
		<td><%= htmlEncode(documento.getDisplay('autor')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-documento-edit',{id:<%= documento.id %>}); return false" >Edit</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-documento-delete',{id:<%= documento.id %>}); return false" >Delete</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="documento">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-documentoForm">
    <% if(documento.id) {%>
    <input type="hidden" name="id" value="<%= documento.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= documento.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="tipo">tipo</label>
    	<select class="form-control" id="tipo" name="tipo">	
            <option value="Orden de despacho" <% if(documento.get('tipo')== "Orden de despacho") {%>selected<%}%> >Orden de despacho</option>
            <option value="Orden de fabricacion" <% if(documento.get('tipo')== "Orden de fabricación") {%>selected<%}%> >Orden de fabricaci&oacute;n</option>
        </select>
		</div>
		<div class="form-group" >
		<label for="descripcion">descripcion</label>
    	<input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Enter value" value="<%= documento.get('descripcion') %>"/>	
		</div>
                <div class="form-group" >
		<label for="estado">estado</label>
    	<select class="form-control" id="estado" name="estado" >
            <option value = "Activo" <% if(documento.get('estado')== "Activo") {%>selected<%}%> >Activo</option>
            <option value = "Inactivo" <% if(documento.get('estado')== "Inactivo") {%>selected<%}%> >Inactivo</option>
        </select>
		</div>
		<div class="form-group" >
		<label for="autor">autor</label>
    	<input type="text" class="form-control" id="autor" name="autor" placeholder="Enter value" value="<%= documento.get('autor') %>"/>	
		</div>
    </form>
    </div>
</script> 