<script type="text/template" id="documentoList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
	<h3 class="panel-title">Documentos</h3>
	<div class="pull-right">
            <span class="clickable filter" onclick="toggleFilt(); return false;">
                <i class="glyphicon glyphicon-filter"></i>
            </span>
        </div>
    </div>
  	
    <div class="panel-body" style="display: none;" id="divFiltr">
        <input type="text" id="search" value="" class="form-control" onkeyup="filt()">
    </div>
    <table class="table table-striped table-hover" id="table">
    <thead>
    <tr>
		 <th>name</th>
		 <th>tipo</th>
		 <th>descripcion</th>
                 <th>estado</th>
		 <th>autor</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(documentos, function(documento) { %>
    <tr>
		<td><%= htmlEncode(documento.getDisplay('name')) %></td>
		<td><%= htmlEncode(documento.getDisplay('tipo')) %></td>
		<td><%= htmlEncode(documento.getDisplay('descripcion')) %></td>
                <td><%= htmlEncode(documento.getDisplay('estado')) %></td>
		<td><%= htmlEncode(documento.getDisplay('autor')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-documento-edit',{id:<%= documento.id %>}); return false" >Edit</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-documento-delete',{id:<%= documento.id %>}); return false" >Delete</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
    
</script>
<script>
    function toggleFilt()
    {
        console.log('togg filt');
        
        var x = document.getElementById('divFiltr');
        
        if (x.style.display === 'none')
        {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
       
    }
</script>
<script>
    ;(function( $, window, document, undefined ) {

    var pluginName = 'searchable',
        defaults   = {
            selector: 'tbody tr',
            childSelector: 'td',
            searchField: '#search',
            striped: false,
            oddRow: { },
            evenRow: { },
            hide: function( elem ) { elem.hide(); },
            show: function( elem ) { elem.show(); },
            searchType: 'default',
            onSearchActive: false,
            onSearchEmpty: false,
            onSearchFocus: false,
            onSearchBlur: false,
            clearOnLoad: false
        },
        searchActiveCallback = false,
        searchEmptyCallback = false,
        searchFocusCallback = false,
        searchBlurCallback = false;

    function isFunction(value) {
        return typeof value === 'function';
    }

    function Plugin( element, options ) {
        this.$element   = $( element );
        this.settings   = $.extend( {}, defaults, options );

        this.init();
    }

    Plugin.prototype = {
        init: function() {
            this.$searchElems = $( this.settings.selector, this.$element );
            this.$search      = $( this.settings.searchField );
            this.matcherFunc  = this.getMatcherFunction( this.settings.searchType );

            this.determineCallbacks();
            this.bindEvents();
            this.updateStriping();
        },

        determineCallbacks: function() {
            searchActiveCallback = isFunction( this.settings.onSearchActive );
            searchEmptyCallback = isFunction( this.settings.onSearchEmpty );
            searchFocusCallback = isFunction( this.settings.onSearchFocus );
            searchBlurCallback = isFunction( this.settings.onSearchBlur );
        },

        bindEvents: function() {
            var that = this;

            this.$search.on( 'change keyup', function() {
                that.search( $( this ).val() );

                that.updateStriping();
            });

            if ( searchFocusCallback ) {
                this.$search.on( 'focus', this.settings.onSearchFocus );
            }

            if ( searchBlurCallback ) {
                this.$search.on( 'blur', this.settings.onSearchBlur );
            }

            if ( this.settings.clearOnLoad === true ) {
                this.$search.val( '' );
                this.$search.trigger( 'change' );
            }

            if ( this.$search.val() !== '' ) {
                this.$search.trigger( 'change' );
            }
        },

        updateStriping: function() {
            var that     = this,
                styles   = [ 'oddRow', 'evenRow' ],
                selector = this.settings.selector + ':visible';

            if ( !this.settings.striped ) {
                return;
            }

            $( selector, this.$element ).each( function( i, row ) {
                $( row ).css( that.settings[ styles[ i % 2 ] ] );
            });
        },

        search: function( term ) {
            var matcher, elemCount, children, childCount, hide, $elem, i, x;

            if ( $.trim( term ).length === 0 ) {
                this.$searchElems.css( 'display', '' );
                this.updateStriping();

                if ( searchEmptyCallback ) {
                    this.settings.onSearchEmpty( this.$element );
                }

                return;
            } else if ( searchActiveCallback ) {
                this.settings.onSearchActive( this.$element, term );
            }

            elemCount = this.$searchElems.length;
            matcher   = this.matcherFunc( term );

            for ( i = 0; i < elemCount; i++ ) {
                $elem      = $( this.$searchElems[ i ] );
                children   = $elem.find( this.settings.childSelector );
                childCount = children.length;
                hide       = true;

                for ( x = 0; x < childCount; x++ ) {
                    if ( matcher( $( children[ x ] ).text() ) ) {
                        hide = false;
                        break;
                    }
                }

                if ( hide === true ) {
                    this.settings.hide( $elem );
                } else {
                    this.settings.show( $elem );
                }
            }
        },

        getMatcherFunction: function( type ) {
            if ( type === 'fuzzy' ) {
                return this.getFuzzyMatcher;
            } else if ( type === 'strict' ) {
                return this.getStrictMatcher;
            }

            return this.getDefaultMatcher;
        },

        getFuzzyMatcher: function( term ) {
            var regexMatcher,
                pattern = term.split( '' ).reduce( function( a, b ) {
                    return a + '[^' + b + ']*' + b;
                });

            regexMatcher = new RegExp( pattern, 'gi' );

            return function( s ) {
                return regexMatcher.test( s );
            };
        },

        getStrictMatcher: function( term ) {
            term = $.trim( term );

            return function( s ) {
                return ( s.indexOf( term ) !== -1 );
            };
        },

        getDefaultMatcher: function( term ) {
            term = $.trim( term ).toLowerCase();

            return function( s ) {
                return ( s.toLowerCase().indexOf( term ) !== -1 );
            };
        }
    };

    $.fn[ pluginName ] = function( options ) {
        return this.each( function() {
            if ( !$.data( this, 'plugin_' + pluginName ) ) {
                $.data( this, 'plugin_' + pluginName, new Plugin(this, options) );
            }
        });
    };

})( jQuery, window, document );
</script>
<script>
    
    function filt(){
    console.log('1');
    $(function () {
    console.log('2');
    $( '#table' ).searchable({
        striped: true,
        oddRow: { 'background-color': '#f5f5f5' },
        evenRow: { 'background-color': '#fff' },
        searchType: 'fuzzy'
    });
    
    console.log('3');
    
    $( '#searchable-container' ).searchable({
        searchField: '#container-search',
        selector: '.row',
        childSelector: '.col-xs-4',
        show: function( elem ) {
            elem.slideDown(100);
        },
        hide: function( elem ) {
            elem.slideUp( 100 );
        }
    });
});
};
</script>
<script type="text/template" id="documento">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-documentoForm">
    <% if(documento.id) {%>
    <input type="hidden" name="id" value="<%= documento.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= documento.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="tipo">tipo</label>
    	<select class="form-control" id="tipo" name="tipo">	
            <option value="Orden de despacho" <% if(documento.get('tipo')== "Orden de despacho") {%>selected<%}%> >Orden de despacho</option>
            <option value="Orden de fabricacion" <% if(documento.get('tipo')== "Orden de fabricación") {%>selected<%}%> >Orden de fabricaci&oacute;n</option>
        </select>
		</div>
		<div class="form-group" >
		<label for="descripcion">descripcion</label>
    	<input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Enter value" value="<%= documento.get('descripcion') %>"/>	
		</div>
                <div class="form-group" >
		<label for="estado">estado</label>
    	<select class="form-control" id="estado" name="estado" >
            <option value = "Activo" <% if(documento.get('estado')== "Activo") {%>selected<%}%> >Activo</option>
            <option value = "Inactivo" <% if(documento.get('estado')== "Inactivo") {%>selected<%}%> >Inactivo</option>
        </select>
		</div>
		<div class="form-group" >
		<label for="autor">autor</label>
    	<input type="text" class="form-control" id="autor" name="autor" placeholder="Enter value" value="<%= documento.get('autor') %>"/>	
		</div>
    </form>
    </div>
    
    
</script> 



<style>
  .row{
		    margin-top:40px;
		    padding: 0 10px;
		}
		.clickable{
		    cursor: pointer;   
		}

		.panel-heading div {
			margin-top: -18px;
			font-size: 15px;
		}
		.panel-heading div span{
			margin-left:5px;
		}
		.panel-body{
			display: none;
		}
</style>

<script type="text/javascript">


</script>