<script type="text/template" id="itemList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>cantidadItem</th>
		 <th>fechaExpiracion</th>
		 <th>name</th>
		 <th>precio</th>
		 <th>Bodega</th>
		 <th>productoaId</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(items, function(item) { %>
    <% var today = new Date();%>
    <% if (item.get('cantidadItem')==0){%>
    <tr id="itemSinExistencias" class="warning" data-toggle="tooltip" data-placement="right" title="No tiene existencias!">
    <%} else if (item.get('fechaExpiracion')<today) { %>
    <tr id="itemExpirado" class="danger" data-toggle="tooltip" data-placement="right" title="Se expiró el item!">
    <% } else { %>
    <tr>
    <%}%>

		<td><%= htmlEncode(item.getDisplay('cantidadItem')) %></td>
		<td><%= htmlEncode(item.getDisplay('fechaExpiracion')) %></td>
		<td><%= htmlEncode(item.getDisplay('name')) %></td>
		<td><%= htmlEncode(item.getDisplay('precio')) %></td>
		<td><%= htmlEncode(item.getDisplay('bodega')) %></td>
		<td><%= htmlEncode(item.getDisplay('productoaId')) %></td>
                
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-item-edit',{id:<%= item.id %>}); return false" >Edit</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-item-delete',{id:<%= item.id %>}); return false" >Delete</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="item">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-itemForm">
    <% if(item.id) {%>
    <input type="hidden" name="id" value="<%= item.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="cantidadItem">cantidadItem</label>
    	<input type="text" class="form-control" id="cantidadItem" name="cantidadItem" placeholder="Enter value" value="<%= item.get('cantidadItem') %>"/>	
		</div>
		<div class="form-group" >
			<label for="fechaExpiracion">fechaExpiracion</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaExpiracion"  name="fechaExpiracion" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#fechaExpiracion').datepicker({autoclose:true});
        	$('#fechaExpiracion').datepicker('setDate',new Date(<%= item.get('fechaExpiracion') %>));
    		<%= '</scr'+'ipt>' %>
		</div>
		<div class="form-group" >
		<label for="name">name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= item.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="precio">precio</label>
    	<input type="text" class="form-control" id="precio" name="precio" placeholder="Enter value" value="<%= item.get('precio') %>"/>	
		</div>
		<div class="form-group" >
		<label for="bodega">Bodega</label>
    	<input type="text" class="form-control" id="bodega" name="bodega" placeholder="Enter value" value="<%= item.get('bodega') %>"/>	
		</div>
		<div class="form-group" >
 
			<label for="productoaidId">productoaId</label> 
            <select class="form-control" id="productoaId" name="productoaId">
			  <option value="">None</option>
            <% producto.each(function(productoaid) { %> 
              <option value="<%=productoaid.get('id')%>" <% if(item.get('productoaId')==productoaid.get('id')) {%>selected<%}%> ><%=productoaid.get('name')%></option>
            <% }); %>                
            </select>  
		</div>
    </form>
    </div>
</script> 